/* CSS DOCUMENT */

/*-------------------------- GENERAL --------------------------*/
body{
	padding:0; margin:0;
	font-family:Arial, Helvetica, sans-serif;
	}
div, mg, p, a, ul, form, input, label, h2, h3{
	padding:0; margin:0;
	}
img{ border:none;}
a{ outline:none; text-decoration:none;}
ul{ list-style-type:none;}
.spacer{
	line-height:0; font-size:0; clear:both;
	}

/*-------------------------- HEADER --------------------------*/
div#header-bg{
	background:#2B0D0A url(../img/header-bg.gif) 0 100% repeat-x;
	padding:32px 0 32px 0;
	color:#FCF7CC;
	}
div#header-bg div#header{
	width:922px; margin:0 auto;
	}
div#header-bg div#header img.logo{
	float:left; margin:2px 0 0 0;
	}

/*-------------------------- LOGIN AREA --------------------------*/
div#header-bg div#header div#login-bg{
	float:right; width:580px;
	background:url(../img/login-middle-bg.gif) 0 0 repeat-x;
 	}
div#header-bg div#header div#login-bg div#login-area{
	width:580px;
	background:url(../img/login-left-bg.gif) 0 0 no-repeat;
	}
div#header-bg div#header div#login-bg div#login-area form{
	width:557px; height:47px; padding:21px 0 0 23px;
	background:url(../img/login-right-bg.gif) 100% 0 no-repeat;
	}
div#header-bg div#header div#login-bg div#login-area form label{
	background:url(../img/login-icon.jpg) 0 2px no-repeat;
	line-height:25px; font-size:22px; color:#FCF7CC;
	padding:0 0 0 31px; float:left; margin:0 12px 0 0;
	background-color:inherit;
	}
div#header-bg div#header div#login-bg div#login-area form input{
	width:120px; height:18px; border:1px solid #924A43;
	background-color:#70322C; font-size:10px; color:#fff;
	line-height:10px; padding:5px 0 0 10px; float:left;
	margin:0 12px 0 0;
	}
div#header-bg div#header div#login-bg div#login-area form input.login-btn{
	width:52px; height:24px; border:none;
	background:none; padding:0; margin:1px 0 0 0;
	}
/*-------------------------- NAVIGATION PART --------------------------*/
div#navigation-bg{
	height:66px; background:url(../img/navigation-bg.gif) 0 0 repeat-x;
	}
div#navigation-bg div#navigation{
	width:922px; margin:0 auto;
	}
div#navigation-bg div#navigation ul.mainMenu{
	padding:0; float:left; width:567px;
	}
div#navigation-bg div#navigation ul.mainMenu li{
	width:81px; float:left;
	background:url(../img/navigation-divider.gif) 100% 0 no-repeat;
	}
div#navigation-bg div#navigation ul.mainMenu li a{
	width:80px; height:33px; display:block;
	line-height:33px; text-align:center;
	font-weight:bold; color:#FAF0C2; font-size:11px;
	background-color:inherit;
	}
div#navigation-bg div#navigation ul.mainMenu li a:hover{
	background:url(../img/navigation-bg-selected.gif) 0 0 no-repeat;
	}
div#navigation-bg div#navigation ul.mainMenu li a.selectMenu{
	width:80px; height:33px; display:block;
	line-height:33px; text-align:center;
	font-weight:bold; color:#FAF0C2; font-size:11px;
	background:url(../img/navigation-bg-selected.gif) 0 0 no-repeat;
	background-color:inherit;
	}

/*-------------------------- DROP DOWN MENU STARTS --------------------------*/
ul.subNav{
	font:normal 11px/12px Arial, Helvetica, sans-serif;
	padding:4px 0 0 0;
	}
ul.subNav li{
	background:url(../img/navigation-dropdown-divider.gif) 0 0 no-repeat;
	height:17px; float:left; padding:6px 0 0 0;
	}
ul.subNav li a{
	display:block; margin:0 22px 0 20px;
	color:#84915D;
	background-color:inherit;
	}
ul.subNav li a:hover{
	color:#fff;
	background-color:inherit;
	}
/*-------------------------- DROP DOWN MENU ENDS --------------------------*/

div#navigation-bg div#navigation a.signup{
	width:71px; height:28px; display:block;
	background:url(../img/sign-up-btn.gif) 0 0 no-repeat;
	margin:2px 0 0 0; float:right; 
	}
div#navigation-bg div#navigation a.signup:hover{
	background:url(../img/sign-up-btn-selected.gif) 0 0 no-repeat;
	}

/*-------------------------- OUR COMPANIES MAIN FEATURES --------------------------*/
div#ourCompany-bg{
	background:#E7DFA0 url(../img/our-company-bg.gif) 0 0 repeat-x;
	color:inherit;
	}
div#ourCompany-bg div#ourCompany-part{
	width:922px; margin:0 auto; padding:26px 0 28px 0;
	/*background:url(../img/our-company-bg-pic.jpg) 606px 0 no-repeat;*/
	}
div#ourCompany-bg div#ourCompany-part h2.ourCompany-hdr{
	font:normal 35px/38px "Arial Narrow", Arial, Helvetica, sans-serif;
	color:#082733; width:574px; height:43px;
	background:url(../img/horz-dot.gif) 0 100% repeat-x;
	background-color:inherit;
	}
div#ourCompany-bg div#ourCompany-part div#ourCompany-leftPart{
	width:284px; border-right:2px solid #CBC387;
	margin:12px 0 0 0; float:left;
	}
h2.faq-Hdr{
	width:231px; height:20px; color:#951509;
	line-height:19px; font-weight:bold; font-size:12px;
	padding:0 0 0 21px; background:#FAF3BB url(../img/faq-icon.gif) 3px 4px no-repeat;
	}
h2.moreIdeas-Hdr{
	width:231px; height:20px; color:#951509;
	line-height:19px; font-weight:bold; font-size:12px;
	padding:0 0 0 21px; background:#FAF3BB url(../img/more-ideac-icon.gif) 3px 4px no-repeat;
	}
ul.ourCompany-list{
	padding:11px 0 10px 0;
	}
ul.ourCompany-list li{
	background:url(../img/bullet1.gif) 0 3px no-repeat;
	display:block; margin:0 0 8px 0; padding:0 0 0 15px;
	color:#47481A; font-size:11px; line-height:11px;
	background-color:inherit;
	}
ul.ourCompany-list li a{
	color:#47481A; font-size:11px; line-height:11px;
	text-decoration:underline;
	background-color:inherit;
	}
ul.ourCompany-list li a:hover{
	text-decoration:none;
	}
div#ourCompany-bg div#ourCompany-part div#ourCompany-rightPart{
	width:252px; margin:12px 0 0 0; float:left;
	padding:0 0 0 25px;
	}
h2.moreInfo-Hdr{
	width:231px; height:20px; color:#951509;
	line-height:19px; font-weight:bold; font-size:12px;
	padding:0 0 0 21px; background:#FAF3BB url(../img/more-info-icon.gif) 3px 4px no-repeat;
	}
p.moreInfo-Text{
	padding:0 0 20px 23px; font-size:10px;
	line-height:14px; color:#47481A;
	background-color:inherit;
	}
h2.searchUrl-Hdr{
	width:231px; height:20px; color:#951509;
	line-height:19px; font-weight:bold; font-size:12px;
	padding:0 0 0 21px; background:#FAF3BB url(../img/search-url-icon.gif) 3px 4px no-repeat;
	}

/*-------------------------- FUTURE PLANS --------------------------*/
div#futurePlan-bg{
	background:#2B0D0A url(../img/future-plan-bg.gif) 0 0 repeat-x;
	color:#837C44;
	}
div#futurePlan-bg div#futurePlanContant{
	width:922px; margin:0 auto;
	padding:37px 0 54px 0;
	}

/*-------------------------- PROJECTS 2007 --------------------------*/
div#futurePlan-bg div#futurePlanContant div#projPart{
	width:251px; float:left;
	background-color:#706933;
	padding:2px 2px 28px 2px;
	color:#fff;
	}
div#futurePlan-bg div#futurePlanContant div#projPart h2.proj-hdr{
	height:37px; padding:13px 0 0 13px; color:#fff;
	font:normal 24px/25px "Arial Narrow", Arial, Helvetica, sans-serif;
	background-color:#1E1E1C; text-transform:uppercase;
	}
div#futurePlan-bg div#futurePlanContant div#projPart h2.proj-hdr span{
	font-weight:bold;
	}
div#futurePlan-bg div#futurePlanContant div#projPart ul.pic{
	padding:3px 0 0 0;
	}
div#futurePlan-bg div#futurePlanContant div#projPart ul.pic li{
	display:block; margin:0 2px 0 0; float:left;
	}
div#futurePlan-bg div#futurePlanContant div#projPart ul.pic li.noRightMargin{
	margin:0;
	}
div#futurePlan-bg div#futurePlanContant div#projPart ul.pic li.noRightMargin a{
	display:block;
	}
div#futurePlan-bg div#futurePlanContant div#projPart h3.sub-hdr{
	color:#E7DFA0; font-size:12px; line-height:12px;
	font-weight:bold; text-indent:28px; margin:15px 0 0 0;
	background:url(../img/bullet2.gif) 12px 0 no-repeat;
	background-color:inherit;
	}
div#futurePlan-bg div#futurePlanContant div#projPart p{
	padding:10px 23px 0 13px; color:#fff;
	font-size:11px; line-height:16px;
	background-color:inherit;
	}
div#futurePlan-bg div#futurePlanContant div#projPart a.more-btn{
	display:block; width:76px; height:28px; margin:5px 0 0 159px;
	background:url(../img/read-more-btn.gif) 0 0 no-repeat;
	}
div#futurePlan-bg div#futurePlanContant div#projPart a.more-btn:hover{
	background:url(../img/read-more-btn-selected.gif) 0 0 no-repeat;
	}

/*-------------------------- FUTURE PART --------------------------*/
div#futurePlan-bg div#futurePlanContant div#futurePart{
	width:613px; float:right; padding:10px 0 0 0;
	}
div#futurePlan-bg div#futurePlanContant div#futurePart h2.future-hdr{
	height:40px; color:#E7DFA0;
	font:normal 35px/35px "Arial Narrow", Arial, Helvetica, sans-serif;
	background:url(../img/horz-dot-2.gif) 0 100% repeat-x;
	background-color:inherit;
	}
div#futurePlan-bg div#futurePlanContant div#futurePart h3.future-subHdr{
	color:#B46F07; font-size:17px; line-height:17px;
	padding:20px 0 0 0; font-weight:bold;
	background-color:inherit;
	}
div#futurePlan-bg div#futurePlanContant div#futurePart p{
	font-size:14px; line-height:24px;
	color:#837C44; padding:20px 0 0 0; width:440px;
	float:left; background-color:inherit;
	}
div#futurePlan-bg div#futurePlanContant div#futurePart img{
	float:right; display:block; margin:-50px 0 0 0;
	}

/*-------------------------- FOOTER PART --------------------------*/
div#footer-bg{
	background:#121212 url(../img/footer-bg.gif) 0 0 repeat-x;
	color:#B3AC8B;
	}
div#footer-bg div#footer-menu{
	width:922px; margin:0 auto;
	padding:20px 0 29px 0;
	background:url(../img/footer-logo.jpg) 100% 13px no-repeat;
	}
div#footer-bg div#footer-menu ul.footMenu{
	padding:0 0 0 0;
	}
div#footer-bg div#footer-menu ul.footMenu li{
	float:left; background:url(../img/footmenu-divider.gif) 0 3px no-repeat;
	}
div#footer-bg div#footer-menu ul.footMenu li.noDivider{
	background:none;
	}
div#footer-bg div#footer-menu ul.footMenu li a{
	color:#B3AC8B; font-size:11px; line-height:16px;
	padding:0 7px 0 7px; display:block; margin:0 0 0 1px;
	background-color:inherit;
	}
div#footer-bg div#footer-menu ul.footMenu li a:hover{
	background-color:#262626;
	color:#B3AC8B;
	}
div#footer-bg div#footer-menu p.copyright{
	padding:5px 0 0 7px; color:#706933;
	font-size:11px; line-height:11px;
	background-color:inherit;
	}
div#footer-bg div#footer-menu p.copyright a{
	color:#B3AC8B;
	background-color:inherit;
	}
div#footer-bg div#footer-menu p.copyright a:hover{
	color:#706933;
	background-color:inherit;
	}
	
/* Buttons and button links */
input[type=submit],
.actions ul li a,
.actions a {
	font-weight:normal;
	padding: 4px 8px;
	background: #dcdcdc;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fefefe), to(#dcdcdc));
	background-image: -webkit-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -moz-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -ms-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: -o-linear-gradient(top, #fefefe, #dcdcdc);
	background-image: linear-gradient(top, #fefefe, #dcdcdc);
	color:#333;
	border:1px solid #bbb;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
	text-shadow: #fff 0px 1px 0px;
	min-width: 0;
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 0px 1px 1px rgba(0, 0, 0, 0.2);
	-webkit-user-select: none;
	user-select: none;
}
.actions ul li a:hover,
.actions a:hover {
	background: #ededed;
	border-color: #acacac;
	text-decoration: none;
}
input[type=submit]:active,
.actions ul li a:active,
.actions a:active {
	background: #eee;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#dfdfdf), to(#eee));
	background-image: -webkit-linear-gradient(top, #dfdfdf, #eee);
	background-image: -moz-linear-gradient(top, #dfdfdf, #eee);
	background-image: -ms-linear-gradient(top, #dfdfdf, #eee);
	background-image: -o-linear-gradient(top, #dfdfdf, #eee);
	background-image: linear-gradient(top, #dfdfdf, #eee);
	text-shadow: #eee 0px 1px 0px;
	-moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.3);
	border-color: #aaa;
	text-decoration: none;
}


/*-------------------------- MISLENIOUS --------------------------*/
.noBottomPadding{
	padding-bottom:0 !important;
	}
.noBg{
	background:none !important;
	}
.topPad{
	padding-top:15px !important;
	}

ul.jobs_list { width: 565px; }    
ul.jobs_list li { margin:10px 0; padding:20px; position:relative; text-shadow:0 0 1px rgba(0, 0, 0, 0.3); -moz-border-radius:4px;  -webkit-border-radius:4px; border-radius:4px;}
ul.jobs_list li:hover, ul.jobs_list li.odd:hover{ background:#ded698; }
ul.jobs_list li.odd{ background:#e4db98;  border:1px solid #c7c77c; -moz-box-shadow:0 0 6px rgba(51,51,51,0.1); -webkit-box-shadow:0 0 6px rgba(51,51,51,0.1); box-shadow:0 0 6px rgba(51,51,51,0.1); }
ul.jobs_list li h3 { font-size:21px; margin: 0 0 5px 0; text-shadow:0 0 1px rgba(51, 51, 51, 0.1); }
ul.jobs_list li h3 a { color: #082733; font-family: "Arial Narrow", Arial, Helvetica, sans-serif; }
ul.jobs_list li h3 a:hover { color: #000; text-decoration: underline; }
ul.jobs_list li .details { font-size: 13px; }
ul.jobs_list li .details .category { font-size: 16px; font-weight: normal; color: #70322C; text-transform: uppercase; font-family: "Arial Narrow", Arial, Helvetica, sans-serif; }
ul.jobs_list li .details .date { position:absolute; top:38px; right:20px; }

.job_details  { margin:10px 0; padding:20px; position:relative; text-shadow:0 0 1px rgba(0, 0, 0, 0.3); -moz-border-radius:4px;  -webkit-border-radius:4px; border-radius:4px; width: 600px; background:#e4db98;  border:1px solid #c7c77c; -moz-box-shadow:0 0 6px rgba(51,51,51,0.1); -webkit-box-shadow:0 0 6px rgba(51,51,51,0.1); box-shadow:0 0 6px rgba(51,51,51,0.1); }
.job_details p { font-size: 15px; line-height: 21px;}

.info { width: 640px; font-size: 13px;}
.info .category { font-size: 16px; font-weight: normal; color: #70322C; text-transform: uppercase; font-family: "Arial Narrow", Arial, Helvetica, sans-serif; }
.info .date { float:right; }

.jobs_view_h3 { font-size:21px; margin: 0 0 5px 0; text-shadow:0 0 1px rgba(51, 51, 51, 0.1); }